apiVersion: v1
kind: Service
metadata:
  name: todo-service
  labels:
    app: todo
spec:
  type: LoadBalancer           
  selector:
    app: todo
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
    - name: metrics
      port: 8001
      targetPort: 8000
      protocol: TCP
    - name: streamlit
      port: 8501
      targetPort: 8501
      protocol: TCP